<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Monday 20 November</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>1:00pm</td>        <!-- time    -->
        <td>Organising Data in Spreadsheets</td>        <!-- content -->
      </tr>
      <tr>               
        <td>2:00pm</td>        
        <td>Break (10 min)</td>        
      </tr>
      <tr>               
        <td>3:00pm</td>        
        <td>Finish</td>      
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Tuesday 21 November</h3>
    <table class="table table-striped">
      <tr>               
        <td>1:00pm</td>        
        <td>Cleaning Data in OpenRefine</td>        
      </tr>
      <tr>               
        <td>2:00pm</td>        
        <td>Break (10 min)</td>        
      </tr>
      <tr>               
        <td>3:30pm</td>        
        <td>Finish</td>      
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Wednesday 22 November</h3>
    <table class="table table-striped">
      <tr>               
        <td>1:00pm</td>        
        <td>Data Analysis and Visualization in R (Part 1)</td>        
      </tr>
      <tr>               
        <td>2:00pm</td>        
        <td>Break (10 min)</td>        
      </tr>
      <tr>               
        <td>3:00pm</td>        
        <td>Break (10 min)</td>        
      </tr>
      <tr>               
        <td>3:50pm</td>        
        <td>Break (5 min)</td>        
      </tr>
      <tr>               
        <td>4:45pm</td>        
        <td>Finish</td>      
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Thursday 23 November</h3>
    <table class="table table-striped">
      <tr>
        <td>1:00pm</td>        
        <td>Data Analysis and Visualization in R (Part 2)</td>        
      </tr>
      <tr>               
        <td>2:00pm</td>        
        <td>Break (10 min)</td>        
      </tr>
      <tr>               
        <td>3:00pm</td>        
        <td>Break (10 min)</td>        
      </tr>
      <tr>               
        <td>3:50pm</td>        
        <td>Break (5 min)</td>        
      </tr>
      <tr>               
        <td>4:45pm</td>        
        <td>Finish</td>      
      </tr>
      <tr>
        <td>After</td>
        <td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
